<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1785163143775</Id>
		<Name><![CDATA[arrivalCutoff]]></Name>
		<X>340</X>
		<Y>400</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="occuresOnce">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[arrival_cutoff_seconds]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_SECOND</Unit>
			</Rate>
			<Id>1785163143773</Id>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1785139200000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[arrival_cutoff_seconds]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">SECOND</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
